<?xml version="1.0" ?>
<launch>
	<arg name="recording_k4a" default="False" />

	<!-- High-level commands -->
	<node name="translation" pkg="franka_irom" type="translation.py" output="screen" args="$(arg recording_k4a)"/>

	<!-- Querying object poses with camera images -->
	<node name="camera" pkg="franka_irom" type="camera.py" output="screen"/>

</launch>
